body {
    margin: 0;
    direction: rtl;
    background-color: #ffffff;
    overflow-x: hidden;
}

img {
    margin-right: 10px;
    margin-top: 10px;
}




.menu {
    position: relative;
    top: -50px;
    right: 150px;
    
}

.menu a {
    border-bottom: 2px solid black;
    text-decoration: none;
    color: black;
    font-size: large;
    background-color: white;
    margin: 20px;
    }

.search {
    position: absolute;
    left: 200px;
    top: 0;
    
}
.banner{
    position: relative;
    top: -30px;
}
a:hover{
    color: hotpink;
}

input {
    border: 1px solid rgb(94, 89, 89);
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 20px;
    margin-right: 100px;
    padding: 7px 50px;
    
}



.service{
    position: relative;
    padding: 10px;
}
.service a{
    position: relative;
    margin: 70px;
    text-decoration: none;
    right: 150px;
    top: -5px;
    font-weight: bolder;
    font-size: x-large;
    color: #04430a;
}

.shopping {
    position: relative;
    direction: ltr;
    left: 12%;
    top: 8px;
    
}

#label {
    word-spacing: 10px;
}

h1.label {
    word-spacing: 1px;
    text-shadow: 2px 2px 5px green;
    text-align: center;
}

.call {
    position: fixed;
    left: 10px;
    bottom: 5px;
    width: 77px;
}
.image{
    position: relative;
    top: -80px;
    right: 100px;
    
}
.parentImage{
    position: relative;
    padding: 120px;
    background-color: rgb(255, 0, 0);
}
.childImage{
    position: absolute;
    top: 20px;
}
.childImage img{
    width: 200px;
    height: 200px;
    margin: 0 30px;
}
.text{
    position: absolute;
    background-color: #ffffff;
    color: rgb(0, 51, 192);
    right: 10px;
    top: 40%;
    font-size: x-large;
}